@import "./../../../../variables.scss";

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.full-screen-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #0a192f;
  color:#64ffda;
}