name: Deploy to Plesk

on:
  push:
    branches:
      - main   # veya kullanıyorsan başka branch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20' # projenin Node versiyonuna göre güncelle

      - name: Install dependencies
        run: npm ci

      - name: Build Angular app
        run: npm run build -- --configuration production
        # veya: ng build --configuration production

      - name: Deploy to Plesk via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: ${{ secrets.FTP_PORT }}
          protocol: ftp
          local-dir: dist/saiderdemozturk-portfolio/
          server-dir: /httpdocs/
          exclude: |
            **/.git*
            **/.github*
            **/node_modules/**
