name: Build and Deploy Angular App

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository # Repository'i aç
        uses: actions/checkout@v4

      - name: Setup Node # Node kurulum
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies # Bağımlılıkları ekle
        run: npm ci

      - name: Build Angular app #Terminal komutu. Build alıp portfolyo klasörüne aktarıyor
        run: |
          npm run build -- --configuration=production --base-href /portfolyo/ 

      - name: Upload build artifact
        uses: actions/upload-pages-artifact@v3 # Dosya transferi için paketleme
        with:
          # Dosyaların yükleneceği klasör
          path: dist/saiderdemozturk-portfolio

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
